.form_container {
  margin: auto;
  margin-top: 20px;
  width: 320px;

  input::selection, input::-moz-selection {
    background-color: var(--main-bg-color);
    color: var(--main-white);
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    padding: 0;

    input {
      border:2px solid var(--main-white); 
      border-radius: 5px;
      padding:5px; 
      -webkit-border-radius: 5px;
    }
    
    input:focus {
      border-color: var(--main-bg-color);
    }
    
    button {
      background: var(--main-white); 
      border: 0 none;
      border-radius: 5px; 
      cursor: pointer;
      margin-left: 10px;
      padding: 5px 15px; 
      -webkit-border-radius: 5px;
    }

  }
}

