* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variables */
  --main-white: rgba(255, 255, 255, 0.87);
  --main-bg-color: #242424;
  /* variables */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-white);
}

body {
  background-color: var(--main-bg-color);
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
}
